.preview
{
    padding-left: 30px;
    padding-right:30px;

    .dynamiccontent
    {
        margin-left: 0px !important;
    }
    h5.title
    {
        font-size: 18px;
        font-weight: bold;
    }
    .patientcontainer
    {
        margin-top:20px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color:#777;
        padding-top:10px;
        padding-bottom:10px;
    }

    .positive
    {
        font-style: italic;
    }

    .default_container
    {
        padding-right:20px;
    }
    span.title
    {
        font-weight: bold;
        margin-left: 10px;
    }

    span.itemname
    {
        text-decoration: underline;
        margin-left: 15px;
        margin-right: 5px;
    }

    span.param
    {
        margin-right: 10px;
    }
    .CC
    {
        margin-top:10px;
    }

    .HPI
    {
        margin-top:20px;
    }
    .PMH
    {
        margin-top:20px;
        .main_content
        {
            display:flex;
            .title
            {
                margin-left:20px;

            }

            .number
            {
                margin-left:20px;
                margin-right:20px;
            }
        }
        
    }

    .previewcontainer
    {
        margin-top:20px;
    }
}

.template
{
    .editor_title
    {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    .edittool
    {
        margin-bottom: 10px;
        .btn
        {
            margin-right:10px;
        }
    }
    .sidebartemplate
    {
        padding:10px;
        border-color: #e2e2e2;
        border-style: solid;
        border-width: 1px;

        .btn
        {
            width:100%;
        }
    }

    .selected
    {
        cursor: pointer;
        background-color: aqua;
        padding:2px 2px;
    }

    .select
    {
        cursor: pointer;
        padding:2px 2px;
    }
    
    .contenteditor
    {
        border-color: #e2e2e2;
        border-width: 1px;
        border-style: solid;
        margin-left: 15px;
        margin-right: 15px;
        padding-top:10px;
        padding-bottom: 10px;
    }

    .editoritem
    {
        padding:5px;
        margin-left: 5px;
        margin-right:5px;
        margin-bottom:10px;
    }

    .selecteditem
    {
        border-style: dotted;
        border-color: #e2e2e2;
        border-width: 1px;
    }

    .contenteditable
    {
        border-color: #000;
        border-width: 1px;
        border-style: solid;
    }
}

.dynamicelementedit
 {
   background-color: #3372d6;
   cursor: pointer;
   color: white;
 }

 .dialog
 {
     max-height: 400px;
     overflow-y: auto;
     list-style: none;
     margin-top:10px;
     border-style: solid;
     border-width: 1px;
     border-color:#e2e2e2;
     padding:10px;
     li
     {
        padding: 2px;
        cursor:pointer;
     }

     li:hover
     {
         background-color: #e2e2e2;
     }
 }

 .editdialog
 {
    .editlist
    {
        border-color: #e2e2e2;
        border-style: solid;
        border-width: 1px;
        margin-left: 15px;
    }

    .edittool
    {
        .btn
        {
            margin-bottom: 10px;
        }
    }
 }
 