.nav-link
{
  padding:0px;
}
.topsidebarcontainer
{
  background-image:linear-gradient(90deg,#428afe,#3473d9);
  text-align: center;
  .topsidebar
  {
    margin:auto;
    margin-top:10px;
  }
  
  .nav-link
  {
   color:white;
    padding:5px 20px;
  }
  .active
  {
      color:#3473d9 !important;
      background-color:white !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

 

}

.cr-sidebar {
  // @include media-breakpoint-down(md) {
  //   display: none;
  // }

  font-weight: 200;
  color: #fff;
  background-position: center center;
  background-size: cover;
  transition: left 0.1s ease-in;
  
  .navbar_container
  {
    background-color:#3973d1;
    li{
      cursor:pointer;
    }

    li:hover
    {
      background-color:#669df5;
    }
  }

  .navbar
  {
    background-color:#3973d1;
  }
  .nav_content
  {
      background-image:url('../assets/img/bg/sidebar_background.png');
      background-size: cover;
      li:hover
      {
        background-color:#669df5;
      }
  }
  + .cr-content {
    transition: margin 0.1s ease-in;
  }

  

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }

  &__nav-item-collapse {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__nav-item-icon {
    // @include media-breakpoint-down(md) {
    //   padding: 0;
    //   margin: 0 auto;
    // }
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 0.5rem;
  }

  &--open {
    left: 0;
    transition: left 0.2s ease-in;

    + .cr-content {
      margin: 0 0 0 $cr-sidebar-width;
      transition: margin 0.2s ease-in;
    }
  }

  .nav {
   .nav-item {
      margin: 2px 10px;
      color: theme-color(light);
      border-radius: 4px;
      opacity: 0.86;
    }

    .nav-link {
      // @include media-breakpoint-down(md) {
      //   padding: .5rem;
      // }
      color: theme-color(light);

      &:hover {
        background: rgba(theme-color(light), 0.15);
      }
    }
  }
}

// @include gradient-y(#02aab0, #00cdac); // green beach
// @include gradient-y(#348f50, #56b4d3); // emerald water
// @include gradient-y(#4CB8C4, #3CD3AD); // sea weed

// stripe
// background: #1fa2ff; /* fallback for old browsers */
// background: linear-gradient(
//   to bottom,
//   #1fa2ff,
//   #12d8fa,
//   #a6ffcb
// );

// subu
// background: #0cebeb; /* fallback for old browsers */
// background: -webkit-linear-gradient(
//   to bottom,
//   #29ffc6,
//   #20e3b2,
//   #0cebeb
// ); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(
//   to bottom,
//   #29ffc6,
//   #20e3b2,
//   #0cebeb
// ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// mojito
// background: #1d976c; /* fallback for old browsers */
// background: -webkit-linear-gradient(
//   to bottom,
//   #93f9b9,
//   #1d976c
// ); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(
//   to bottom,
//   #93f9b9,
//   #1d976c
// ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
