
.cr-widget {
  display: flex;
  flex-direction: row;

  &__icon {
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
  }
}

.contentchart
{
  //width:Calc(100% - 200px);
}
.scheduler
{
 
  .schedulertool
  {
    padding-bottom:5px;
    border-width: 1px;
    border-color:#e2e2e2;
    border-style: solid;
    padding-top:5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .title
    {
      text-align: center;
      margin-bottom:10px;
      color:#4289fc;
    }
    .day_select
    {
      margin-left:20px;
    }

    .btn
    { 
      font-size:13px;
    } 
    .btn-default
    {
      background-color: #f0f0f0;
      border-color:#e2e2e2;
    }

    .input-group
    {
      input
      {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .btn
      {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
    .deactive
    {
      background-color:#dcdcdc;
    }

    .daybtn
    {
      color:#3372d6;
      cursor: pointer;
    }
  }
}
.jqx-grid-table-one-cell
{
  tbody{
    tr:first-child
    {
      display: none;
    }
  }
}

.jqx-widget-header
{
  background-image: linear-gradient(0deg, #3372d6, #438bff) !important;
  font-size:14px;
  color:white;
}

.jqx-scheduler-legend-bar-bottom
{
  background: #e8e8e8 !important;
  font-size:13px;
  color:black;
}
.btn-primary
{
  background-image:linear-gradient(0deg,#3372d6,#438bff);
}
p{
  margin-bottom: 0px !important;
}

.charttoolheader
{
  background-color: #f2f2f2;

  .personinfoactive
  {
    margin-top:10px;
    margin-bottom:10px;
    background-color:white;
    border-radius: 10px;
    margin-left:10px;
    cursor: pointer;
    max-width:300px;
    padding:10px;
    #activepersoninfo
    {
      display: flex;
      .description
      {
        margin-left:5px;
        .desc
        {
          font-size:14px;
        }
      }
      .profile
      {
        width:100px;
        border-radius:10px;
        border-style:solid;
        border-width:1px;
        border-color:#e2e2e2;
        padding:5px;
        img
        {
          width:100%;
          border-radius: 10px;
        }
      }
      .name{
        font-size:20px;
        font-weight: 700;
        margin-top:10px;
      }

      .close
      {
        font-size: 13px;
        position: absolute;
        right:10px;
      }
    }
  }
  .active
  {
    background-color:#3372d6;
    color:white;
  }
}

.sliderleft
{
  margin-left:auto;
  color:white;
  cursor:pointer;
}

.sliderleft:hover
{
  color:#e2e2e2;
}
.personinfo
{
  min-height:30px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  .personinfoitem
  {
    float:left;
    border-width: 1px;
    border-color:lightgrey;
    min-height:40px;
    display: flex;
    border-style: solid;
    margin:10px;
    margin-right:0px;
    padding:10px;
    border-radius: 5px;
    background-color: white;
    cursor:pointer;
    .name
    {
      font-size:13px;
    }
    .close
    {
      cursor:pointer;
      color:grey;
      float:right;
      font-size:12px;
      margin:6px;
      margin-left:auto;
      margin-right:0px;
      margin-left:10px;
    }
  }

  .personinfoitem.active
  {
    background-color: #3372d6;
    color:white;
    .close
    {
      color:white;
    }
  }
}

.searchbar
{
  background-color:#f2f2f2;
  padding-bottom: 10px;
}

.btn-outline-default
{
  background-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.navbar-brand
{
  width:100%;
}

.chatfilter
{
  background-color: #f2f2f2;;
  padding:10px;
  margin-right:5px;
  border-radius: 5px;
}

.react-datepicker__input-container input
{
  padding:5px;
}

.btn-default{
  background-color: white;
  border-color: grey;
}

.cardentry
{
  background-color: white;
  padding:5px;
  margin-left:-15px;
  box-shadow:5px,10px,#e8e8e8;
  border-width:1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #e8e8e8;
  .cardtitle
  {
    background-color:#ececec;
    border-radius: 5px;
    padding:5px 10px;
    .btn-default{
      padding:3px 6px;
      border-radius: 5px;
    }
    .title{
      color:#518be8;
      font-weight: 500;
    }
    .btn-primary{
      padding:3px 9px;
      border-radius: 5px;
    }
  }

  .cardbody
  {
    padding:10px 20px;
    display: inline-block;
    width:100%;
    .main_content
    {
      float:left;
      margin-right:30px;
      margin-top: 10px;
      span{
        // margin-left:10px;
      }
      span:first-child
      {
        margin-left:0px;
      }

    
      .righticon
      {
        color:#3d82f2;
        cursor: pointer;
      }

      .value
      {
        border-width:1px;
        border-style: solid;
        color:#3d82f2;
        border-color:gray;
        padding:2px 5px;
      }
      .value_noborder
      {
        padding:2px 5px;
        color:#3d82f2;
      }
      .icon
      {
        font-size:8px;
      }
      
    }

    .mytable
    {
      display: flex;
      flex-wrap: wrap;
      .tableheader
      {
          display:flex;
          flex-wrap: wrap;
          border-bottom-style: solid;
          border-width:1px;
          padding-bottom: 10px;
          border-color:#e2e2e2;
          .title_header
          {
            width:12%;
            float:left;
            p{
              font-weight: 700;
            }
          }

          .header{
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            padding-left:10px;
            p{
              margin-bottom: 5px;
            }
          }
      }

      .items
      {
        margin-right: 15px;
        .title
        {
          font-weight: bold;
        }
      }

      .tablebody
      {
        padding-top:10px;
        .tablerow
        {
          display:flex;
          flex-wrap: wrap;
          padding-bottom:10px;
          padding-top:10px;
          border-color: #e2e2e2;
          border-width:1px;
          border-bottom-style: solid;

          .cell
          {
            flex-grow: 1;
            flex-basis: 0;
            margin-left:10px;
           
          }

          .cell:first-child{
            margin-left: 0px;
          }

          p: {
            margin-bottom: 0px;
          };
          .body_title
          {
            font-weight: 700;
          }

         
        }

        .tablerow:last-child
        {
          border-width:0px;
        }
      }
    }
    .default_container
    {
      padding-top:10px;
      padding-bottom: 10px;
      border-top-style: solid;
      border-color:#ececec;
      border-width: 1px;
    }

    .default_container:first-child
    {
      margin-top:0px;
      border-width: 0px;
    }
    .reviewcontent
    {
      padding-top:10px;
      padding-bottom:10px;
      border-bottom-style: solid;
      border-color:#e2e2e2;
      border-width:1px;

      .default
      {
        text-decoration: underline;
        line-height: 20px;
        cursor: pointer;
      }
      
      .reviewproblem
      {
        span{
          cursor: pointer;
        }
        span:hover
        {
          text-decoration: underline;
        }
      }

      span.reviewproblem
      {
        margin-right:12px;
      }
      .positive
      {
        color:red;
      }
    }

    .reviewcontent:last-child
    {
      border-width:0px;
    }

    .editexam
    {
      display:flex;
      flex-wrap: wrap;
      width:100%;
      overflow-x:hidden;
      
      .form-check
      {
        padding-left:0px;
        label
        {
          margin-bottom:0px;
        }
      }
      .editexamcontainer
      {
        position:relative;
      }
      
      .element
      {
        float:left;
        display:block;
        margin-left:10px;
      }

      .action
      {
        width:2%;
        min-width:20px;
        display:inline-block;
        span{
          cursor: pointer;
        }
      }

      .title
      {
        text-align: center;
      }

      .datetime
      {
        width:8%; 
        min-width:150px; 
      }

      .bp
      {
        width:12%;
        min-width:120px;
      }

      .pulse
      {
        width:60px;
      }

      .resp
      {
        width:48px;
      }

      .temp
      {
        width:70px;
      }
      .height
      {
        width:250px;
      }

      .weight
      {
        width:150px;
      }

      .bmi
      {
        width:150px;
      }

      .pulseox
      {
        width:280px;
      }
      .examheader
      {
        display:flex;
        width: 100%;
        padding-top:10px;
        padding-bottom:10px;
        .action
        {
          color:#3d82f2;
        }
      }

      .exambody
      {
        background-color:#e2e2e2;
        display:flex;
        width:100%;
        min-height:100px;
        padding-bottom:20px;  
        flex-wrap: wrap;
        .examrow
        {
          display:flex;
          padding-top:10px;
          padding-bottom:10px;
        }
      }
      
      .examfooter
      {
        display:flex;
        width:100%;
        z-index:30;
        span
        {
          padding:1px 7px;
          background-color:black;
          color:white;
          margin-left:10px;
          border-radius: 50%;
          cursor:pointer;
        }
      }
    }

    .signentry
    {
      margin-top:5px;
      .description
      {
        margin-top:5px;
        cursor: pointer;
        .description-container
        {
          display:flex;
          flex-wrap: wrap;
          span {
            margin-left:20px;
          }

          span:first-child
          {
            margin-left:0px;
          }
        }

        .btn-default
        {
          margin-left:auto;
          background-color:#e2e2e2;
          border-color:gray;
          font-size:12px;
          margin-right:15px;
        }
      }

      .treeview
      {
        
        .normaltext
        {
          display:inline-block;
          // margin-left:30px;
        }
        .btn-default{
          font-size:12px;
          padding:2px 5px;
        }
      }
      .description-container:active
      {
        border-color:#3372d6;
        border-width:1px;
        border-style: solid;
      }

      .btn-primary
      {
        font-size:10px;
        padding:3px 6px;
      }

      .btn-secondary
      {
        font-size:10px;
        padding:3px 6px;
      }

      .description:first-child
      {
        margin-top:0px;
      }
    }

    .diagnostic_category
    {
      .category_header
      {
        align-items: center;
        margin:0;
      }

      .category_body
      {
        margin-top:30px;        
        ul{
          padding:10px;
          border-style: solid;
          border-width:1px;
          border-color:#e2e2e2;
          border-radius:10px;
          box-shadow:#e2e2e2 -2px -2px -2px -2px;
          li{
            padding:15px 15px;
            border-bottom-style: solid;
            border-width:1px;
            border-color:#e2e2e2;
            cursor: pointer;
          }

          li:last-child
          {
            border-width:0px;
          }
          li.active
          {
            background-color:#397ce7;
            border-radius: 10px;
            color:white;
          }
        }
      }
    }

    .assessment
    {
      .assessment_header
      {
        border-bottom-style: solid;
        border-width: 1px;
        border-color:#e2e2e2;
        padding-top:10px;
        padding-bottom:10px;
        .icons
        {
          color:#4988ed;
          cursor:pointer;
        }

        .title
        {
          text-align: center;
        }
      }

      .assessment_body
      {
        padding-top:10px;
        padding-bottom:10px;
      }

      .selected
      {
        background-color:#e2e2e2;
      }

      .form-check
      {
        margin: 0px;
        padding:0px;
        text-align: center;
        border-style: solid;
        border-color: #e2e2e2;
        border-width: 1px;
        padding-top:5px;
        padding-bottom: 5px;
        label
        {
          margin: auto;
        }
      }
    }

    .planorder
    {
      .assessmenttable_header
      {
        padding-top:10px;
        padding-bottom:10px;
        background-color: #e0e0e0;
        th
        {
          font-weight: 500;
          color: gray;
        }
      }

      .assessmenttable_title
      {
        color:#4187f7;
        padding-top: 20px;
        padding-bottom:20px;
        padding-left: 10px;
      }

      .assessmenttable_content
      {
        color:gray;
      }

      .contenttd:hover
      {
        background-color: #e2e2e2;
        cursor: pointer;
      }
      .assessmenttable_body
      {
        padding-bottom: 20px;
        border-bottom-style: solid;
        border-color: #e2e2e2;
        border-width:1px;
      }
      .planorderrow
      {
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #e2e2e2;
        
        .planorderheader
        {
          display: flex;
          flex-wrap: wrap;
         
          .title
          {
            width:100%;
            margin-top:20px;
            p{
              font-size:15px;
              font-weight: 600;
            }
          }
        }

        .planordercontent
        {
          margin-left: 15px;
          font-size:12px;
          cursor: pointer;
        }

        .planordercontent:first-child
        {
          margin-left: 0px;
        }

        .planordertitle
        {
          text-align: center;
          font-size:18px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .planordercell
        {
          padding-bottom:10px;
        }

        .assessment
        {
          padding-top:20px;
          padding-bottom:20px;
        }
        .sub
        {
          width:100%;
          p.subtitle{
            color:#4168f7;
            font-size:14px;
            margin-bottom: 0px;
            font-weight: 500;
            padding-top: 10px;
          }

          .directive
          {
            padding-top:10px;
            padding-bottom:10px;
            background-color:#efefef;
            height:100%;
            .btn-default
            {
              font-size:12px;
              color:#797979;
              height:20px;
              padding:2px 1px;
              margin-right:10px;
              margin-top:10px;
              background-color:#efefef;
              border-radius: 0px;
              border-color: #cfcfcf;;
              display: flex;
            }

            p{
              text-align: center;
              color:#4168f7;
              font-size:14px;
              font-weight: 500;
            }
          }
        }
      }

      
      .neworder
      {
        background-color: #f3f3f3;
        .orderheader
        {
          text-align: center;
          background-image: linear-gradient(0deg,#e6e6e6,#f6f6f6);
          padding:10px;
          color:#4685eb;
          font-weight: 600;
          border-width:1px;
          border-color:#e0e0e0;;
          border-style: solid;
        }

        .orderbody
        {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px;
          .orderitems
          {
            margin-bottom: 10px;
            .itemtitle
            {
              font-weight: bold;
            }
            .itemcontent
            {
              padding-left: 20px;
              margin-top:10px;
            }
          }
        }
      }
    }

    .em_coding
    {
      .codingheader
      {
        margin-top: 20px;
        padding-top:10px;
        padding-bottom:10px;
        border-bottom-style: solid;
        border-top-style: solid;
        border-width: 1px;
      }
      
      .codingbody
      {
        padding-top:15px;
        padding-bottom:15px;
        border-bottom-style: solid;
        border-width:1px;
        border-color:#e2e2e2;
      }
    }
  }
  .specific
  {
    color:#5ccb35;
  }
}

.task_manager
{
  border-color: #e2e2e2;
  border-width: 1px;
  border-style:solid;
  padding:0px;
  padding-top:20px;
  margin-right:10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .btn-default
  {
    background-image: linear-gradient(0deg,#e6e6e6,#f5f5f5);
    border-color:#e2e2e2;
  }
  h4
  {
    text-align: center;
    color:#4289fc;
  }

  table
  {
    thead
    {
      background-image:linear-gradient(0deg,#3372d6,#438bff); 
      tr{
        th
        {
          color:white;
          font-weight: 400;
        }
      }
    }

    tbody
    {
      tr
      {
        td:first-child
        {
          color:#3675dc;
        }
      }
    }
  }
}

.file_manager
{
  .icons
  {
    padding:10px;
    background-color: #f8f8f8;
    border-color:#cccccc;
    border-width:1px;
    border-style: solid;
    border-radius: 10px;
    .btn-default-custom
    {
      color:gray;
      font-size:15px;
      margin-left: 5px;
      padding:3px 6px;
      span
      {
        font-size:15px;
        margin-left:5px;
      }
    }
    .btn-default
    {
      color:gray;
      font-size:15px;
      margin-left: 5px;
      padding:3px 6px;
      background-image: linear-gradient(0deg,#e6e6e6,#f5f5f5);
      border-color:#e2e2e2;
    }

    .btn-group
    {
      font-size:15px;
      margin-left:5px;
      .btn-primary
      {
        padding:3px 6px;
      }
    }
  }

  .text_filter
  {
    .btn-default
    {
      font-size:20px;
      font-weight: 500;
      background-image: linear-gradient(0deg,#e6e6e6,#f5f5f5);
      border-color: #e2e2e2;
    } 
  }

  .sidebar
  {
    border-color: #e2e2e2;
    border-width: 1px;
    border-style: solid;
    margin-left:15px;
    padding:10px;
    background-color:#f7f7f7;

    li
    {
      padding:10px;
      background-color: white;
      border-radius: 5px;
      margin-top:10px;
      cursor:pointer;
    }

    li.active
    {
      background-image:linear-gradient(0deg,#3372d6,#438bff);
      color:white;
    }
  }

  .title
  {
    background-image:linear-gradient(0deg,#3372d6,#438bff);
    color:white;
    padding-top: 10px;
    margin-left:15px;
    margin-right:0px;
    padding-bottom:10px;
    align-items: center;
    p
    {
      margin-left:10px;
    }
  }

  .filemanager_content
  {
    display:"flex";
    flex-wrap: wrap;
    margin-left:15px;

    .file_container
    {
      width:200px;
      height:300px;
      margin-right: 10px;
      margin-bottom:10px;
      background-color:#f6f6f6;
      border-style: solid;
      border-width:1px;
      border-color:#e2e2e2;
      padding:10px;
      float:left;
      cursor: pointer;
      .filetitle
      {
        margin-bottom:10px;
        font-size:20px;
      }
      .filebody
      {
        height:240px;
        background-position-x: 40%;
      }
    }

    .file_container:hover
    {
      border-color:lightblue;
    }

  }

  .fileviewer
  {
    background-color: #f7f7f7;
    margin-right:15px;
    border-width:1px;
    border-style: solid;
    border-color:#e2e2e2;
    padding:30px;
    p{
      padding:20px;
      font-size:25px;
      text-align: center;
      color:#e2e2e2;
    }

    iframe
    {
      width:100%;
      height:400px;
    }
  }
  .chat
  {
    padding:0px;
    margin-top:20px;
    .chatcontainer
    {
      display: flex;  
      .chatelement{
        margin-left:20px;
      }
    }
  
    .chatcontainer_rtl
    {
      display: flex;
      .chatelement
      {
          margin-left: auto;
          margin-right:20px;
      } 
    }
  
    .title_element
    {
      color:#3a7ce7;
    }
  
    .title_body
    {
      margin-top:5px;
      font-size:14px;
    }
  
    .title_date
    {
      margin-top:5px;
      font-size:12px;
      color:grey;
    }
  }
  
  .chatinput
  {
    background-color:#f0f0f0;
    padding-top:10px;
    padding-bottom:10px;
  }
}

.patientinfo
{
  max-height:500px;
  overflow-y: auto;
  .patientinfoitem
  {
    border-top-style: solid;
    border-width: 1px;
    border-color:#ada7a7;
    padding-top:10px;
  }
  .titlebar
  {
    background-image:linear-gradient(0deg,#3372d6,#438bff); 
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
  }
  .infoheader
  {
    padding-top:5px;
    padding-bottom:5px;
    font-size:16px;
    color:#518be8;
    font-weight: 600;
    border-bottom-style: solid;
    border-width:1px;
    border-color: #e2e2e2;
  }

  .infobody
  {
    
    .detail
    {
      border-right-style: solid;
      border-right-width: 1px;
      border-right-color: #e2e2e2;
      padding-top:10px;
      padding-bottom:10px;
      .profilecontainer
      {
        border-radius: 50%;
        width:80px;
        height:80px;
        border-width:1px;
        border-style:solid;
        border-color:#e2e2e2;
        .profile
        {
          width:100%;
          height:100%;
          border-radius: 50%;
        }
      }

      .detailcontainer
      {
        height:150px;
        overflow-y: auto;
        margin-bottom:10px;
        .row
        {
          padding-top:10px;
        }
        .label
        {
          margin-left:15px;
        }
        .action
        {
          margin-right:5px;
        }
      }

      .title
      {
        font-size:17px;
        font-weight: 600;
      }
      
      .btn-success
      {
        font-size:14px;
        padding:2px 3px;
      }
      
      .btn-secondary
      {
        font-size:14px;
        padding:2px 3px;
      }

      .btn-default
      {
        font-size:14px;
        padding:2px 3px;
        background-color: #fafafa;
        color:#676767;
      }
    }
  }
}

.nav-tabs .nav-link.active
{
  color:black;
}

.nav-tabs .nav-link
{
  cursor: pointer;
}

.searchtoolbar
{
  .toolbarcontainer
  {
    margin-left:13px;
    width:300px;
    height:80vh;
    padding:5px;
    background-color:#e2e2e2;
    display: none;

    .tab
    {
      padding-top: 5px;
      padding-bottom: 5px;
      .tabitem
      {
        text-align: center;
        cursor:pointer;
      }
      .tabitem:last-child
      {
        border-left-color: grey;
        border-left-style: solid;
        border-left-width: 1px;
      }
    }
    .title
    {
      margin-top:5px;
      background-color:#cccccc;
      padding:5px;
    }

    .problems
    {
      background-color: white;
      margin-bottom:12px;
      height:Calc(100% - 20);
      display: flex;
      padding-top:5px;
      flex-wrap: wrap;
      .buttons
      {
        background-color: #efefef;
        width:50px;
        .btn-default
        {
          display:block;
          font-size:12px;
          background-color:#e0e0e0;
          width:40px;
        }
      }

      .problemcontainer
      {
        padding:0px;
        height:100%;
        overflow-y:auto;
        ul
        {
          list-style: none;
          padding:5px;
          li
          {
            padding:5px;
            border-bottom-style: solid;
            border-width: 1px;
            border-color:#e2e2e2;
            width:100%;
            cursor:pointer;
          }

          li:first-child
          {
            border-top-style: solid;
          }

          li:hover
          {
            background-color:#e2e2e2;
          }
        }
      }
    }
  }
}

.problemgridcontainer
{
  .problemgrid
  {
    padding:10px 16px;
    background-image: linear-gradient(90deg,#3b7fec,#3f84f4);
    color:white;

    .modal-title
    {
      width:100%;
      padding-right:10px;
      .row
      {
        align-items: center;
      }
    }
  }

  .problemgridbody
  {
     
    .bodycontainer
    {
      margin:16px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-width: 1px;
      border-color:#d4d4d4;
      border-style: solid;
      .bodyheader
      {
        background-color:#e2e2e2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding:5px;
        font-weight: 600;
      }
      .row
      {
        align-items: center;
        text-align: center;
      }
      .problemcontainer
      {
        font-size:13px;
        padding-top:10px;
        padding-bottom:10px;
      }
      .problem
      {
        text-align: left;
      }
    }
  }
}

.iradio_square-blue
{
  margin-left:20px !important;
}

.macro
{
  .macroitem
  {
    color:#337ab7;
    cursor:pointer;
  }
}

.highlight
{
  background-color:#bcd5f0;
  cursor:pointer;
}

.medslist
{
  list-style: none;
  border-style: solid;
  border-width:1px;
  border-color:#e2e2e2;
  padding-left:0px;

  li{
    padding:10px 20px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color:#e2e2e2;
    cursor:pointer;
  }

  li:hover
  {
    background-color:#d4d4d4;
  }
}

.substancecontainer
{
  margin:0px;
  padding-top:15px;
  padding-bottom:15px;
  border-style: solid;
  border-width: 1px;
  border-color:#e2e2e2;
}
.reactioncontainer
{
  .title
  {
    text-align: center;
    font-size: 20px;
    background-color:#8dacd3;
    padding:10px 5px;
    margin-bottom:20px;
  }
}

.icheck_wrap
{
  label{
    margin-right:5px;
  }
  .icheckbox_flat-grey
  {
    input{
      position:relative !important;
    }
    ins{
      position: relative !important;
    }
  }
}
  .searchcontent
  {
    max-height:400px;
    overflow-y:auto;

    .searchitem
    {
      margin-top:20px;
      .title{
        cursor:pointer;
        font-size:16px;
      }

      .title:hover
      {
        color:#008;
      }
    }
  }

  .tablebodytext
  {
    cursor:pointer;
  }
  .rangeslider-horizontal .rangeslider__handle
  {
    text-align: center;
    padding-top:3px;
  }
  .rangeslider-horizontal .rangeslider__handle:after
  {
    content:none !important;
    background-color: white;
    box-shadow: none;
  }

  .assessment_add
  {
    padding:0px;
    list-style: none;
    margin:0px -12px;
    li
    {
      padding:5px 10px;
      cursor:pointer;
      border-bottom:solid 1px #e2e2e2;
      cursor:pointer;
    }

    li:hover
    {
      background-color:#e0e0e0;
    }
  }

  .treeview
  {
    overflow:visible !important;
    position:static !important;
    div
    {
      will-change: auto !important;
    }
    .leaf{
      margin-left:0px;
      .treeview
      {
        width:100%;
      }
      .toggle{
        display: none;
      }
    }
  }

  .dropdown-menu
  {
    will-change: auto !important;
    z-index:9999;
    transform:translate3d(0px, 38px, 4000px) !important;
    li
    {
      z-index:9999;
      position:relative !important;
    }
  }

  .rbt
  {
    .clearfix
    {
      .open
      {
        z-index:9999;
      }
    }
  }

  .rc-tree-child-tree {
    display: block;
  }
  
  .node-motion {
    transition: all .3s;
    overflow-y: hidden;
  }
  
  .node-motion-enter,
  .node-motion-leave-active {
    height: 0;
  }

  .root {
    position: absolute;
    display: flex;
    padding: 10px;
    cursor:pointer;
  }
  
  .tree
  {
    margin:auto;
  }
  .male
  {
    background: #a4ecff;
  }

  .femail
  {
    background:#c73530;
    color:white;
  }

  .patient
  {
    background:#337ab7;
    color:white;
  }
  .inner {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 10px 0;
    .relation
    {
      width:100%; 
      text-align: center;
    }

    .name
    {
      width:100%;
      text-align: center;
    }

    .deadcause
    {
      width:100%;
      text-align: center;
      font-size:12px;
    }

    .illness
    {
      width:100%;
      text-align: center;
      font-size:12px;
    }

  }

  .wrapper
  {
    height:250px;
  }

  .family
  {
    display: flex;
    flex-direction: column;
    background: #eee;
    height: 100%;
  }
  
  .custom-modal {
    
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

   .modal-content {
     height: auto;
     min-height: 100%;
     border-radius: 0;
  }
 }

 .common_problem
 {
   list-style: none;
   padding-left: 0px;
   max-height:400px;
   overflow: auto;
   li
   {
     padding:5px;
     cursor:pointer;
     border-bottom-style: solid;
     border-color:#e2e2e2;
     border-width: 1px;
   }

   li:last-child
   {
     border-bottom-style:none;
   }

   li:hover
   {
     background-color: #e2e2e2;
   }
 }

 .summary
 {
   margin-bottom:30px;
   .title
   {
     border-bottom-style: solid;
     border-width:2px;
     border-color:#333;
     color:#243C5F;
     font-weight: 500;
   }
   .problembody
   {
     min-height:100px;
     .row
     {
       align-items: center;
       margin-bottom:10px;
       margin-top:10px;
     }
     .pmhlist
     {
       padding:2px 12px;
     }
     .btn
     {
       font-size: 12px;
       padding:0px 2px;
       float:right;
       max-height:20px;
     }
   }
 }

 .pe_tree
 {
   max-height: 500px;
    .note-tree
    {
      width:100%;
      list-style: none;
      margin-left: 10px;
      padding: 0;
      overflow: visible;

      .addfinding
      {
        color:#337ab7;
        cursor: pointer;
      }

      .addfinding:hover
      {
        text-decoration: underline;
      }

      .title
      {
        cursor: pointer;
      }
      .folder{
        margin-right: 10px;
        color:rgb(255,138,21);
        position: relative;
        z-index: 400;
      }

      .btn-set-normal
      {
        color:'#333';
        background-color: #d4d4d4;
        border-color: #8c8c8c;
        margin-right: 6px;
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
      }

      .inner-note-tree
      {
        list-style: none;
        margin-left: 10px;
        padding: 0;
        overflow: visible;
      }

      li.tree-node::before
      {
        content: '';
        position: absolute;
        left: 0;
        border-top: 1px solid #000;
        top: 16px;
        width: 10px;
        height: 0;
      }
      li.tree-node::after
      {
        content: '';
        position: absolute;
        left: 0;
        border-left: 1px solid #000;
        height: 100%;
        width: 0;
        top: -16px;
      }

      li.tree-node
      {
        display: block;
        margin: 0;
        padding: 4px 14px;
        position: relative;
      }

      .inner-note-tree
      {
        display: none
      }
    }
 }

 #PE
 {
   .title
   {
     font-weight: bold;
     margin-left:10px;
   }

   .itemname
   {
     margin-left:15px;
     margin-right:5px;
     text-decoration: underline;
   }
 }

 .medsnav
 {
   list-style: none;
   padding-left: 0px;
   border:solid 1px;
   display: flex;
   .item
   {
     float: left;
     padding:5px 10px;
     min-width:25%;
     text-align: center;
     border-left: solid 1px;
     cursor:pointer;
   }

   .item:first-child
   {
     border-left: none;
   }

   .selected
   {
     font-weight: bold;
   }
 }

 .medslist_info
 {
  //  border-style: solid;
  //  border-width: 1px;
  //  border-color:#e2e2e2;
   margin-left: 0px;
   .pagination
   {
      li
      {
        align-items: center;
        display:flex;
      }

      .button
      {
        cursor:pointer;
        width:10%;
        text-align: center;
        justify-content: center;
        margin-left:2%;
        margin-right:2%;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        padding-top:10px;
        padding-bottom: 10px;
      }

      .button:hover
      {
        background-color: #e2e2e2;
      }

      .search_input
      {
        width:45%;
        .input-group-append        
        {
          align-items: center;
        }
      }
   }

   .listitem
   {
     padding:5px 10px;
     margin-left: 15px;
     cursor:pointer;
     border-bottom-color: #e2e2e2;
     border-bottom-width: 1px;
     border-bottom-style: solid;
   }
   
   .listitem:hover
   {
     background-color: #e2e2e2;
   }
 }

 .meds_add
 {
   max-width: 80vw;
 }

 .dynamicelement
 {
   background-color: #5ccb35;
   cursor: pointer;
   color: white;
 }

 .dynamic_list_action
 {
   div
   {
     margin-bottom: 10px;
     text-align: center;
   }
 }

 .dynamic_listview
 {
   border-color: #e2e2e2;
   border-width: 1px;
   border-style: solid;
   margin-left: 15px;

   .selected
   {
     background-color: rgb(44, 176, 209);
   }
 }

 .dynamiccontent
 {
   cursor: pointer;
   color:#5ccb35;
   font-weight: normal;
 }

 .diagnost_list
 {
   padding-left: 0px;
   list-style: none;

   li{
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-color: #e2e2e2;
   }

   li:hover
   {
     background-color: #e2e2e2;
     cursor: pointer;
   }
 }

 .edit_component
 {
   cursor: pointer;
   margin-left: 20px !important;
   color:#3372d6;
 }

 .unselected
 {
   color:grey;
   cursor: pointer;
 }

 .selected
 {
   color:black;
   font-weight: bold;
   cursor: pointer;
 }

 .dynamicitem
 {
   cursor: pointer;
 }

 .checkeditem
 {
   color:#5ccb35;
 }

 .relateddiagnosis
 {
   padding-left: 0px;
   list-style:none;
   margin-bottom: 0px;
   li
   {
     cursor:pointer;
     border-color: #e2e2e2;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     padding-bottom: 3px;
   }

   li:hover
   {
     color: #5ccb35;
   }
 }

 .problemlist
{
  padding-left: 0px;
  list-style: none;
  max-height: 300px;
  overflow-y: auto;

  li
  {
    padding-bottom: 3px;
    border-bottom-color: #e2e2e2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer;
  }
  li:hover
  {
    color: #5ccb35;
  }
}

.d-flex
{
  flex-wrap: wrap;
}

.assessmentstable
{
  max-height:300px;
  overflow-y: auto;
  list-style: none;
  padding-left: 10px;
  li
  {
    padding:5px;
    border-bottom-color: #e2e2e2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer;
  }
  
  li:hover
  {
    color:#5ccb35;
  }

  li.specific
  {
    color:#5ccb35;
  }
}

.emcodingitem
{
  cursor: pointer;
}

.specific
{
  color:#5ccb35;
}